
/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
    height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans TC', sans-serif;
    /*font-size: 48px;*/
}

section{
    height: 80%;
    margin: 0;
    padding: 30px;
}

#map_wrapper{
    height: 100%;
    margin: 0;
    padding: 0px;
    position:relative;
}

#over_map { 
    position: absolute; 
    top: 5%; 
    /*bottom:2.9%;*/
    /*left: 0%; */
    right:1%;
    z-index: 99; 
    position:absolute;
    /*display:block*/
    width:25%;
    height: 80%;
    
}

#map-control-panel{
    /*position: absolute; */
    /*display:block*/
    height:100%;
    width:100%;
    position: absolute;
    left: 0%;
    top: 0%;
    /*right:30%;*/
    /*top: 5%; */
    /*overflow:scroll;*/
}


#map-control-panel-card:{
  /*box-shadow: 0 0 40px rgba(33,33,33,.2); */
  height:50%;
  /*width: 100%;*/
  width:100%;
  
  
}

#map-control-panel-card:hover {
  /*box-shadow: 0 0 40px rgba(33,33,33,.2); */
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  /*height:100%;*/
}



#flight-ticket-list-group{
    padding: 10px;
    /*box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);*/
}

.bubble {
    background:#232e40;
    border-radius:50%;
    height:20px;
    width:20px;
    position:relative;
    bottom:-10px;
}


/*.infoContent {*/
/*    text-align: justify;*/
/*}*/

/*.leastPrice{*/
/*    color: red;*/
/*}*/