
/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
    height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

section{
    height: 80%;
    margin: 0;
    padding: 30px;
}

#map_wrapper{
    height: 100%;
    margin: 0;
    padding: 0px;
}


/*.bubble {*/
/*    background:#232e40;*/
/*    border-radius:50%;*/
/*    height:20px;*/
/*    width:20px;*/
/*    position:relative;*/
/*    bottom:-10px;*/
/*}*/